.venv 

# C++ build files
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
*.pch
*.pdb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt
moc_*
qrc_*
ui_*

# Other
*.log
build/
Debug/
Release/

# 3D models
*.stl
*.obj